.about-sec{
    background: #fff;
    height: 900px;
}
.about-box-1{
    display: flex;
    align-items: center;
    gap: 165px;
    justify-content: center;
    padding-top: 80px;
}
.about-h4{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.about-h2{
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1E212C;
    margin-top: 8px;
}
.about-h3{
    width: 600px;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
    margin-top: 48px;
}
.about-p{
    width: 600px;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #424551;
    margin-top: 24px;
}
.about-btn-list{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
}
.about-btn{
    color: #FF3F3A;
    border: 1px solid #FF3F3A;
    background: none;
    width: 193px;
    height: 52px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
}
.about-btn:hover{
    background: linear-gradient(#FF3F3A, #F75E05);
    color: #fff;
}
.about-watch{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 180px;
    margin-left: 210px;
}
.about-box-2{
    display: flex;
    align-items: center;
    gap: 135px;
    justify-content: center;
    margin-top: 32px;
}
.students-graduated-box{
    display: flex;
    align-items: center;
    gap: 16px;
}
.students-graduated{
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
    color: #FF3F3A;
    margin-top: 20px;
}
.students-graduated-text{
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.Our-core-values{
    text-align: center;
    margin-top: 180px;
}
.stand-for{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.Our-core-values-text{
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1E212C;
}
.Our-core-values-card-list{
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: center;
    margin-top: 60px;
}
.Our-core-values-card{
    width: 240px;
    height: 162px;
    text-align: center;
}
.Our-core-values-card-text{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
    margin-top: 24px;
}
.Our-core-values-card-information{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #787A80;
    margin-top: 8px;
}




.sub-card-list{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
}

.sub-card-list1{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.sub-card{
    width: 390px;
    height: 420px;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
}
.sub-card-other{
    width: 390px;
    height: 420px;
    border: none;
    background: #F4F5F6;
    border-radius: 4px;
    text-align: center;
    padding-top: 200px;
}

.sub-card-category{
    width: 91px;
    height: 28px;
    border-radius: 4px;
    background: #03CEA4;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-top: 24px;
    margin-left: 24px;
}

.sub-card-category1{
    width: 91px;
    height: 28px;
    border-radius: 4px;
    background: #5A87FC;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-top: 24px;
    margin-left: 24px;
}

.sub-card-category2{
    width: 91px;
    height: 28px;
    border-radius: 4px;
    background: #F89828;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-top: 24px;
    margin-left: 24px;
}

.sub-card-category3{
    width: 91px;
    height: 28px;
    border-radius: 4px;
    background: #F52F6E;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-top: 24px;
    margin-left: 24px;
}

.sub-card-category4{
    width: 91px;
    height: 28px;
    border-radius: 4px;
    background: #7772F1;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 6px;
    margin-top: 24px;
    margin-left: 24px;
}


.sub-card-information{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #787A80;
    width: 342px;
    margin-top: 20px;
    margin-left: 24px;
}

.sub-card-check-text{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}

.sub-card-check-text:hover{
    color: #FF3F3A;
}

.sub-card-check{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-left: 24px;
}

.sub-img{
    width: 390px;
    height: 200px;
}
.sub-card-other-text{
    width: 242px;
    margin-left: 70px;
}






.proces-text{
    margin-left: 220px;
    margin-top: 180px;
}

.illus-proces-cards-list{
    display: flex;
    align-items: center;
    gap: 210px;
    justify-content: center;
}

.line-proces-card-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.stud-proces-card{
    width: 447px;
    height: 110px;
}

.stud-proces-card1{
    width: 447px;
    height: 110px;
    margin-top: 32px;
}

.stud-proces-step{
    font-size: 12px;
    font-weight: 900;
    font-family: sans-serif;
    color: #787A80;
}

.stud-proces-do{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
    margin-top: 2px;
}

.stud-proces-info{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #787A80;
    margin-top: 8px;
}






.Best-tutors{
    padding-top: 166px;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.Meet-team{
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1E212C;
}
.card-tutor{
    width: 285px;
    height: 416px;
    text-align: center;
}
.bg-tutor{
background: #FFCF2D;
background: linear-gradient(#FFCF2D, black);
width: 285px;
height: 340px;
}
.img-list{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 181px;
    margin-top: 280px;
}
.tutor-name{
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    color: #424551;
    margin-top: 16px;
}
.Founder{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: #787A80;
    margin-top: 4px;
}
.bg-tutor1{
background: #FFCF2D;
width: 285px;
height: 340px;
}
.tutor-img{
    margin-top: 20px;
}
.card-tutor-list{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
}
.desc-list1{
    text-align: center;
    margin-top: 180px;
}



.TESTIMONIALS{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.What-say{
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1E212C;
    margin-top: 8px;
}
.TEST-list{
    text-align: center;
    margin-top: 180px;
}
.Arrow-Left-btn{
    border: none;
    background: none;
}
.Eleanors-desc{
    width: 1020px;
    height: 344px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.Eleanors-avatar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}
.Eleanors-name{
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #1E212C;
}
.Position{
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    color: #787A80;
    margin-top: 4px;
}
.Zapataya{
    transform: translateY(-100px);
}
.ArrowRight-btn{
    background: #FF3F3A;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
}
.Card-eleanora{
    display: flex;
    align-items: center;
    gap: 69px;
    justify-content: center;
    margin-top: 60px;
}
.Eleanors-lorem{
    width: 752px;
    font-size: 20px;
    font-weight: 400;
}
.Scroll-img{
    text-align: center;
    margin-top: 60px;
}



.test-list-logo-box{
    background: #F4F5F6;
    height: 1456px;
    padding-top: 100px;
    margin-top: 120px;
}

.logo-lists-list{
    margin-left: 300px;
}

.logo-list{
    display: flex;
    align-items: center;
    gap: 72px;
    margin-top: 60px;
    
}